CF_SPACE_ID=
CF_DELIVERY_ACCESS_TOKEN=
CF_PREVIEW_ACCESS_TOKEN=
CF_MANAGING_ACCESS_TOKEN=

CF_ENVIRONMENT=master

MAILGUN_API_KEY=

MAILCHIMP_API_KEY=
MAILCHIMP_AUDIENCE_ID=
MAILCHIMP_SERVER_ID=us20

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

NEXT_TELEMETRY_DISABLED=1
