{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    // override eslint rules here

    // react
    "react/self-closing-comp": ["warn"],
    "react/function-component-definition": [
      "warn",
      { "namedComponents": "arrow-function" }
    ],
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-fragments": ["warn"],
    "react/jsx-pascal-case": ["error"],

    // typescript
    "@typescript-eslint/consistent-type-imports": [
      "warn",
      {
        "prefer": "type-imports"
      }
    ],
    "@typescript-eslint/consistent-type-definitions": ["warn", "interface"],
    "@typescript-eslint/array-type": ["warn", { "default": "array" }],
    "@typescript-eslint/ban-types": [
      "warn",
      {
        "types": {
          "undefined": "mark the property as optional (`?`) instead of specifying the type as `undefined`"
        }
      }
    ],
    "@typescript-eslint/no-empty-function": ["warn"],

    // misc
    "no-console": ["warn"],
    "prefer-arrow-callback": ["warn"],
    "quotes": ["warn", "single"]
  }
}
