{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    // override eslint rules here

    // react
    "react/self-closing-comp": "warn",
    "react/display-name": "off",
    "react-hooks/exhaustive-deps": "off",

    // typescript
    "@typescript-eslint/consistent-type-imports": [
      "warn",
      {
        "prefer": "type-imports"
      }
    ],
    "@typescript-eslint/array-type": ["warn", { "default": "array-simple" }],

    // misc
    "no-console": "warn",
    "prefer-arrow-callback": "warn"
  }
}
