name: Lint

on:
  workflow_dispatch:
  pull_request:
    branches:
      - '**'

env:
  NEXT_TELEMETRY_DISABLED: 1

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest
    # Only run if triggered manually OR the PR isn't a draft and it's not a linting PR (and not a fork)
    if: |
      github.event_name != 'pull_request' ||
      (
        github.event.pull_request.draft == false &&
        startsWith(github.head_ref, 'autofix/') == false &&
        github.event.pull_request.head.repo.full_name == github.repository
      )
    # Down scope as necessary via https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      pull-requests: write
      checks: write
      contents: write

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: |
          pnpm install --no-optional
          pnpm install @biomejs/cli-linux-x64
          pnpm prisma generate

      - name: Lint project
        id: lint
        run: pnpm biome ci
